body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  border: 2px solid black;
  padding: 20px;
}

.item {
  background-color: steelblue;
  color: white;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.span-6 {
  grid-column: span 6;
}

.span-3 {
  grid-column: span 3;
}

.span-4 {
  grid-column: span 4;
}
