body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: grid;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 30px;
}

.fixed {
  grid-template-columns: 200px 200px 200px;
}

.flexible {
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  background-color: steelblue;
  color: white;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
