body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid black;
  padding: 20px;
}

.item {
  background-color: steelblue;
  color: white;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}
